# Series

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([10, 20, 30, 40])
obj

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
obj.values

array([10, 20, 30, 40], dtype=int64)

In [4]:
expense = Series( [1000, 2000, 3000], index = ['House', 'Electricity', 'Food'] )
expense

House          1000
Electricity    2000
Food           3000
dtype: int64

In [5]:
expense['Food']

3000

In [6]:
#checking which category has expense greater than 1000
expense[expense > 1000]

Electricity    2000
Food           3000
dtype: int64

In [7]:
#checking the existence
'Food' in expense

True

In [8]:
#Converting a series to dictionary
expense_dict = expense.to_dict()
expense_dict

{'Electricity': 2000, 'Food': 3000, 'House': 1000}

In [9]:
#Converting a dictionary to series 
expense_series = Series(expense_dict)
expense_series

Electricity    2000
Food           3000
House          1000
dtype: int64

In [10]:
categories = ['Electricity', 'Food', 'House', 'house', 'Groceries', 'Entertainment']
object2 = Series(expense_dict, index = categories)
object2

Electricity      2000.0
Food             3000.0
House            1000.0
house               NaN
Groceries           NaN
Entertainment       NaN
dtype: float64

In [11]:
#check the existence of null values
pd.isnull(object2)

Electricity      False
Food             False
House            False
house             True
Groceries         True
Entertainment     True
dtype: bool

In [12]:
pd.notnull(object2)

Electricity       True
Food              True
House             True
house            False
Groceries        False
Entertainment    False
dtype: bool

In [13]:
expense_series + object2

Electricity      4000.0
Entertainment       NaN
Food             6000.0
Groceries           NaN
House            2000.0
house               NaN
dtype: float64

In [14]:
object2.name = "Expense of the Month"
object2.index.name = 'Categories'

In [15]:
object2

Categories
Electricity      2000.0
Food             3000.0
House            1000.0
house               NaN
Groceries           NaN
Entertainment       NaN
Name: Expense of the Month, dtype: float64

# Rank and Sort

In [16]:
#Sorting by index
ser1 = Series(range(3),index=['C','A','B'])

#show
ser1

C    0
A    1
B    2
dtype: int32

In [17]:
#Now sort_index
ser1.sort_index()

A    1
B    2
C    0
dtype: int32

In [18]:
#Can sort a Series by its values

ser1.sort_values()

C    0
A    1
B    2
dtype: int32

In [21]:
#Lets see how ranking works

from numpy.random import randn
ser2 = Series(randn(10))

#Show
ser2

0   -0.807599
1    0.538831
2    0.495167
3   -0.714842
4   -0.807596
5    1.202706
6   -0.303670
7   -0.595615
8   -0.528922
9    1.097339
dtype: float64

In [23]:
#This will show you the rank used if you sort the series
ser2.rank()

0     1.0
1     8.0
2     7.0
3     3.0
4     2.0
5    10.0
6     6.0
7     4.0
8     5.0
9     9.0
dtype: float64

In [ ]:
#Lets sort it now
ser2.sort_values()

#Show
ser2

In [ ]:
#After sorting let's check the rank and see iof it makes sense
ser2.rank()